{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <img  class=""  src="{{asset('/images/slider/img_1.jpg')}}" alt="Dark Souls III Wallpaper">
        <div class="carousel-caption" style="">
        <h1>Join now!</h1>
      </div>
   </div>

   <div class="item">
    <img  class="" src="{{asset('/images/slider/img_0.jpg')}}" alt="Metal Gear Wallpaper">
  </div>

  <div class="item">
    <img  class="" src="{{asset('/images/slider/img_2.jpg')}}" alt="Kingdom Hearts Wallpaper">
  </div>

  <div class="item">
    <img  class="" src="{{asset('/images/slider/img_3.jpg')}}" alt="Tomb Raider Wallpaper">
  </div>
</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>



{% endblock %}

{% block stylesheets %}
<style>

  html,body{
   height:100%;
   overflow: hidden;
 }

</style>
{% endblock %}




