{% extends 'base.html.twig' %} 

{% block body %}

<div class = "jumbotron">        
	{% block jumbo %}     
	<h1>News</h1>
	{% endblock %}        
</div>

<div class="container">

	<div class="row newsfeed">
		{% for post in posts|reverse %}
	
			<div class="panel panel-default col-md-4">
				<div class="panel-body post-body">
					<img src="{{post.thumb}}" alt="post thumbnail" class="post-thumb">
					<div>
						<h1 class="post-title">{{post.title}}</h1>
						<p class="post-content">{{post.content}}</p>
					</div>
				</div>
			</div>
					
		{% endfor %}
	</div>

</div>	


<style>

.newsfeed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.newsfeed > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


</style>
{% endblock %}

{% block stylesheets %}

{% endblock %}