{% extends "FOSUserBundle::layout.html.twig" %}


{% block body %}

<div class = "jumbotron">
	{% block jumbo %}     
	{% if type == "game" %}
	<h1>GAME NOT FOUND
		{% endif %}
		{% if type == "userid" %}
		<h1>USERID NOT FOUND
			{% endif %}
		</h1>
		{% endblock %}
	</div>


	<div class = "container">
		<div class = "row">
			<div class="col-md-6 col-md-offset-3">
				<img id = "img-not-Found" src="{{ asset('images/deadlink.png') }}" alt="Dead Link" class="img-responsive">
			</div>
		</div>
	</div>
	{% endblock %}

	{% block stylesheets %}

	{% endblock %}