{% extends 'base.html.twig' %} 

{% block body %}

<div class = "jumbotron">        
	{% block jumbo %}     
	<h1>Ranking</h1>
	{% endblock %}        
</div>

<div class="container-fluid coming-soon">
	
</div>	

{% endblock %}

{% block stylesheets %}

{% endblock %}