{% extends "FOSUserBundle::layout.html.twig" %}


{% block body %}

<div class = "jumbotron">
	{% block jumbo %}     
		<h1>ERROR 404</h1>
	</div>
	{% endblock %}

	<div class = "container">
		<div class = "row">
			<div class="col-md-6 col-md-offset-3">
				<img id = "img-not-Found" src="{{ asset('images/deadlink.png') }}" alt="Dead Link" class="img-responsive">
			</div>
		</div>
	</div>
{% endblock %}
