{% trans_default_domain 'FOSUserBundle' %}

<div class = "container">
	<div class="row">
		<div class="fos_user_user_show">		
			<div class = "avatardiv col-md-offset-5">	
				
				{% if  user.avatarPath != null %}
				<img id = "avatarimg" src="{{ asset('images/uploads/' ~  user.username  ~ '.' ~ user.avatarPath) }}" 
				alt="Profile Image" class="profile-image">
				{% else %} <img id = "avatarimg" src="{{ asset('images/uploads/default.png') }}" alt="Default Profile Image" class="profile-image">
				{% endif %}				
				
			</div>

			<div class = "panel panel-default">

				<div class="panel-heading"></div>

				<div class="panel-body">
					
					<div class="col-md-4">
						<h3>Personal Details:</h3>
						<table class="table table-hover ">
							<tbody>
								<tr>
									<td><strong>Username:</strong> </td>
									<td>{{user.username}}</td>
								</tr>
								<tr>
									<td><strong>Name:</strong></td>
									<td>{{user.firstname}} {{user.lastname}}</td>
								</tr>
								<tr>
									<td><strong>E-mail:</strong></td>
									<td>{{user.email}}</td>
								</tr>
								<tr>
									<td><strong>Nationality:</strong></td>
									<td>{{user.nationality}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-offset-2 col-md-6">
						<h3>About me:</h3>
						<p>{{user.about}}</p>
					</div>

					
				</div>

				<div class="panel-footer"></div>

				
			</div>
		</div>		
	</div>

	<div class="row">
		<div class="col-md-offset-6">
			<a href="#game-information"><img src="{{ asset('images/icons/down-arrow.png') }}" alt="Next Section Button" class="centered-btn"></a>
		</div>
	</div>
</div>
</section>

<div class="container">
	<section id="game-information">
		<div>
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a data-toggle="tab" href="#psn">PlayStation</a></li>
				<li><a data-toggle="tab" href="#steam">Steam</a></li>
				<li><a data-toggle="tab" href="#xbox">Xbox</a></li>
			</ul>

			<div class="tab-content">
				<div id="psn" class="tab-pane fade in active">
					<div class="panel-group">
						{% if  user.psnID == null %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-md-offset-4 col-md-4">
									<img class = "img-not-sync" src="{{ asset('images/icons/notSync.png') }}" alt="Not sync yet">	
								</div>
							</div>
						</div>
						{% else %}
						{% if psnGames|length > 0  %}
						{% for game in psnGames %}
						<div class="panel panel-default">
							<div class="panel-heading text-center">{{ game.trophyTitleName }}</div>
							<div class="panel-body"> 
								<div class="row vertical-align">
									<img src="http://a14raugarsan.ga/proxy.php/{{ game.trophyTitleIconUrl }}" alt="game box image" class="col-sm-3">
									<div class="col-sm-7 col-sm-offset-1" >
										{% if game.comparedUser.progress > 0 %}
										<p class = "black"><span>Progress:</span> {{ game.comparedUser.progress }}%</p>
										<p class = "black"><span>Platinum:</span> {{ game.comparedUser.earnedTrophies.platinum }}/{{ game.definedTrophies.platinum }}</p>
										<p class = "black"><span>Gold:</span> {{ game.comparedUser.earnedTrophies.gold }}/{{ game.definedTrophies.gold }}</p>
										<p class = "black"><span>Silver:</span> {{ game.comparedUser.earnedTrophies.silver }}/{{ game.definedTrophies.silver }}</p>
										<p class = "black"><span>Bronze:</span> {{ game.comparedUser.earnedTrophies.bronze }}/{{ game.definedTrophies.bronze }}</p>
										{% else %}
										<p>{{ random(randomPhrases) }}</p>
										{% endif %}
										<a href="{{ path('searchUserNameGiantBomb', {'username' : user.username, 'name': game.trophyTitleName }) }}" class="pull-right">See More>></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						{% else %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
								</div>
								<div class="row">
									<h3 class="col-sm-12 not-found-err">We could not find any games on this PSN Account!</h3>
								</div>
							</div>
						</div>
						{% endif %}
						{% endif %}
					</div>
				</div>

				<div id="steam" class="tab-pane fade">
					<div class="panel-group">
						{% if  user.steamID == null %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-md-offset-4 col-md-4">
									<img class = "img-not-sync" src="{{ asset('images/icons/notSync.png') }}" alt="Not sync yet">
								</div>
							</div>
						</div>
						{% else %}
						{% if steamGames|length > 0  %}
						{% for game in steamGames %}
						<div class="panel panel-default">
							<div class="panel-heading text-center">{{ game.name }}</div>
							<div class="panel-body"> 
								<div class="row vertical-align">
									<img src="{{ "http://media.steampowered.com/steamcommunity/public/images/apps/#{game.appid}/#{game.img_logo_url}.jpg" }}" alt="game box image" class="col-sm-3">
									<div class="col-sm-7 col-sm-offset-1" >
										{% if game.playtime_forever > 0 %}
										<p class = "black"><span>Played Time:</span> {{ game.playtime_forever // 60 }} <span>hours and</span> {{ game.playtime_forever % 60 }} <span>minutes</span></p>
										{% if game.playtime_2weeks is defined %}
										<p class = "black"><span>Played Time (last 2 weeks):</span> {{ game.playtime_2weeks // 60 }} <span>hours and</span> {{ game.playtime_2weeks % 60 }} <span>minutes</span></p>
										{% endif %}
										{% else %}
										<p class = "black"><span>{{ random(randomPhrases) }}</span></p>
										{% endif %}
										<a href="{{ path('searchUserNameGiantBomb', {'username' : user.username,'name': game.name }) }}" class="pull-right">See More>></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						{% else %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
								</div>
								<div class="row">
									<h3 class="col-sm-12 not-found-err">We could not find any games on this Steam Account!</h3>
								</div>
							</div>
						</div>
						{% endif %}
						{% endif %}
					</div>
				</div>

				<div id="xbox" class="tab-pane fade">
					<div class="panel-group">
						{% if  user.xboxID == null %}
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-md-offset-4 col-md-4">
									<img class = "img-not-sync" src="{{ asset('images/icons/notSync.png') }}" alt="Not sync yet">
								</div>								
							</div>
						</div>
						{% else %}
							{% if xboxGames|length > 0  %}
							{% for game in xboxGames %}
							<div class="panel panel-default">
								<div class="panel-heading text-center">{{ game.name }}</div>
								<div class="panel-body"> 
									<div class="row vertical-align">
										<img src="{{ asset('images/profile/xbox.png') }}" alt="game box image" class="col-sm-3">
										<div class="col-sm-7 col-sm-offset-1" >
											{% if (game.currentAchievements != 0) or (game.currentGamerscore != 0) %}
											<p class = "black"><span>Trophies: </span> {{ game.currentAchievements }}/{{ game.totalAchievements }}</p>
											<p class = "black"><span>Gamerscore: </span> {{ game.currentGamerscore }}/{{ game.totalGamerscore }}</p>
											{% else %}
											<p>{{ random(randomPhrases) }}</p>
											{% endif %}
											<a class="pull-right">See More>></a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							{% else %}
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
									</div>
									<div class="row">
										<h3 class="col-sm-12 not-found-err">We could not find any games on this Xbox Account!</h3>
									</div>
								</div>
							</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>




