{% extends "FOSUserBundle::layout.html.twig" %}

{% block jumbo %}     
        <!--<h1>Welcome, {{ app.user.username }}</h1>-->
{% endblock %} 

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:showUser_content.html.twig" %}
{% endblock fos_user_content %}
