<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title %}Gamer's Guild{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>    
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>      

        <!--<script src="{{ asset('js/search.js')}}"></script>-->
        <!--<script src="{{ asset('js/jquery.js')}}"></script>-->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        {% block header %}{% endblock %}

        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        {% if is_mobile() or is_tablet() or is_mobile_view() or is_tablet_view() %}

            <div class="container">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>Try our App!</h1>
                    <img src="{{ asset('images/gamersguildapp.png')}}" alt="Gamer's Guild App" style="width: 100%">
                    <h2>for a mobile friendly experience.</h2>
                    <button class="btn btn-primary">Download Now!</button>
                </div>
            </div>


        {% else %}
         {% block navbar %}
            {% if app.user == false %}
                <nav class="navbar navbar-static-top navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                      </button>
                      <a class="navbar-brand" href="{{ path('landing_page') }}">Gamer's Guild</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('news_page') }}"><span class="glyphicon glyphicon-globe"></span> News</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
            {% else %}
                 <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                      </button>
                      <a class="navbar-brand" href="{{ path('landing_page') }}">Gamer's Guild</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="{{ path('news_page') }}"><span class="glyphicon glyphicon-globe"></span> News</a></li>
                        <li><a href="{{ path('ranking') }}"><span class="glyphicon glyphicon-stats"></span> Ranking</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                      </ul>
                        <div class="col-sm-3 col-md-3">
                            <form class="navbar-form" role="search" method = "GET" action = "{{ path('search_user_get_username') }}">
                                <div class="input-group">
                                    <input type="text" id = "tags" class="form-control" placeholder="Search" name="tags" autocomplete="off">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                    <ul class="dropdown-menu txtuser list-group" style="" role="menu" aria-labelledby="dropdownMenu"  id="DropdownUser"></ul>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </nav>
            {% endif %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}                  
            <script>

                $(document).ready(function () { 
                    $("#tags").keyup(function (e) {

                    	var key = e.keyCode;

					    if ( key != 37 && key != 38 && key != 39 && key != 40){					    	
	                        $.ajax({
	                            type: "POST",
	                            url: "{{ path('search_user') }}",
	                            data: {
	                                "tags": $("#tags").val()
	                            },
	                            dataType: "json",
	                            success: function (data) {                              
	                                if (data.length > 0) {
	                                    $('#DropdownUser').empty();
	                                    $('#tags').attr("data-toggle", "dropdown");
	                                    $('#DropdownUser').dropdown('toggle');
	                                }
	                                else if (data.length == 0) {
	                                    $('#tags').attr("data-toggle", "");
	                                }
	                                $.each(data, function (key,value) {                                 
	                                   if (data.length >= 0){                                           
	                                        $('#DropdownUser').append('<li class = "list-group-item" role="presentation" ><a href = "">' + value.username + '</a></li>');

	                                        /* ARROW SELECT */
						                    var $listItems = $('.list-group-item');

											$('input').keydown(function(e){
											    var key = e.keyCode,
											    $selected = $listItems.filter('.selected'),
											    $current;

											    if ( key != 38 && key != 40) return;

											    $listItems.removeClass('selected');

											    if ( key == 40 ){ // Down key
											        if ( ! $selected.length || $selected.is(':last-child') ) {
											            $current = $listItems.eq(0);
											        }
											        else {
											            $current = $selected.next();
											        }
											    }
											    else if ( key == 38 ){ // Up key											    
											        if ( ! $selected.length || $selected.is(':first-child') ) {
											            $current = $listItems.last();
											        }
											        else {
											            $current = $selected.prev();
											        }
											    }
											    $(this).val ( $current.addClass('selected').text() );											    
											});                 
	                                        /* ---------- */
	                                    }
	                                });
	                            }
	                        });
	                    }                                                       
                    }); 
                    $('ul.txtuser').on('click', 'li a', function () {
                        $('#tags').val($(this).text());
                    });                     
                });

            </script>
        {% endblock %}
            
        {% endif %}

       
    </body>
</html>
