{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class = "form-style-5 form form-confirmed">
		<h1>{{ app.user.username }}</h1>
		<h2>Now, you are a oficial member of <br> Gamer's Guild</h2>
		<img id = "" src="{{ asset('images/register/gamepad.png') }}" alt="Gamepad image">
	    <!--<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
	    {% if targetUrl %}
	    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
	    {% endif %}-->
   	</div>
{% endblock fos_user_content %}
