{% extends "FOSUserBundle::layout.html.twig" %}

{% block jumbo %}
        <h1>Join Us</h1>         
{% endblock %} 

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
