{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class = "form-style-5 form">
	<fieldset class = "form-error">		
		{{ form_row(form.username) }}
		{{ form_row(form.email) }}
		{{ form_row(form.plainPassword) }}
		{{ form_row(form.birth) }}
	</fieldset>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class = "btn"/>       
    </div>
</div>
{{ form_end(form) }}

{% block stylesheets %}
	<style>
	

		
	</style>
{% endblock %}

