{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form, {'action': path('add_xboxID'), 'method': 'POST'}) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-default">Sync</button>
{{ form_end(form) }}
