{# app/Resources/views/pelicula/Afegir/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" value="Sign Up" />
	{{ form_end(form) }}
{% endblock %}



