/* COLOR PALETTE */

.button-submit 		   {background:  #00b6e3}
.form			   	   { background: #FFFFFF }
.form-txt			   { color: #4d4d4d; }
.jumbotron 			   { background: #9da3a5; }

/* BODY */

body{
	background-color: #ececec;
}
/* HEADER */

.ui-autocomplete{
	z-index: 200;
}

.navbar{
	z-index: 100;
}

.navbar { margin-bottom: 0px; }

.jumbotron h1 {
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 100px;
}

/* LANDING */

.carousel,.item,.active{
	margin-top: -52px;
	height:100%;
}

.item{
	padding-top: 52px;
	height: 100%
}

.carousel-inner{
	height:100%;
}

.carousel-caption{
	margin-top: auto;
	margin-bottom: auto;
}

/* FORM */

.form-style-5{
	margin: 0 auto;
	border-radius: 3px;
	box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.12), 3px 3px 1px 0px rgba(0,0,0,0.24);
	padding: 20px;
	margin-top: -70px;
	margin-bottom: 25px;   
	border-radius: 8px;
	font-family: "Arial", Times, serif;
	max-width: 50%;		    
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="password"],
.form-style-5 input[type="file"],
.form-style-5 select,
.form-style-5 textarea{
	font-family: Arial, Times, serif;
	background: #ececec;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	/*color: #424242;*/
	color: #4d4d4d;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.form-style-5 textarea{
	resize: vertical;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="file"],
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	border: 1px solid #3498db;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 100%;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.form-error{

}

.form-error ul{		
	list-style-type: none;
	background-color: #ececec;
	border-radius: 5px;	   
	padding: 20px; 
	margin: 5%;
	font-size: 110%;	    
}
.form-error ul li{
	color: red;
}

.form-confirmed{
	text-align: center;
}

.form-confirmed img{		
}

.flash-success{
	display: none;
}


/* USER PROFILE */

.down-arrow{	
	margin-bottom: 2%;
}

.avatardiv{	
	background-color: #FFFFFF;
	box-shadow: 3px 3px 5px #888888;
	display: block;	
	position: relative;
	display: inline-block;
	margin-top: -100px;
	margin-bottom: 1%;
	border-radius: 50%; 
	overflow: hidden;
	width: 150px;
	height: 150px;
}

.avatardiv .overlay{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	color: #FFF;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.avatardiv:hover .overlay {
	display: block;   
	background: rgba(0, 0, 0, .6);
}

.overlay img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	height: 45px;
	width: 45px;	
}

#avatarimg{
	display: block;
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}

#profile-information{
	height: 95vh;
}

.centered-btn{
	margin-left: -64px;
}

section{
	height: 100vh;
}

.tab-content{
	height: 87vh;
}

.panel-group{
	margin-top: 6em;
	overflow-y: scroll;
	height: 100%
}

.not-found-err{
	text-align: center !important;
}


/* NEWS */

.new{			
	padding: 1%;
	max-width: 100%;
}
.newImage{
	
}
.newInformation{
	
}

.new .newImage img{
	width: 100%;
}
.new .newInformation h1{
	font-weight: bold;
}
.new .newInformation .readmore{
	text-align: right;
	color: blue;
	text-decoration: none;
}


/* GENERAL CLASSES */

.inline{
	display: inline-block;
}

.hideType {
	display: none;
}

.vertical-align{
	display: flex;
	align-items: center;
}

.table > tbody > tr:first-child > td {
	border: none;
}

.not-found-div img{
	
}

.selected {
	background: #ccc;
}

.coming-soon{
	background: url('../images/comingsoon.png');
background-size:contain;
background-repeat: no-repeat;
height: 80vh;
}