{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block jumbo %}
        <h1>Log in</h1>         
{% endblock %} 

{% block fos_user_content %}

<div class = "form-style-5 form">
	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />

	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
	{% if error %}
    	<div class = "form-error"><ul><li>{{ error.messageKey|trans(error.messageData, 'security') }}</li></ul></div>
	{% endif %}
</div>
{% endblock fos_user_content %}
