{% extends "FOSUserBundle::layout.html.twig" %}

{% block jumbo %}     
<h1>{{ game.name }}</h1>
{% endblock %} 

{% block fos_user_content %}

<div class = "container">
	<!-- Game Information-->

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<div class="panel-body vertical-align">
				<img src="{{ game.image.small_url }}" alt="Game image" class="col-md-3 game-img game-img-big">
				<div class="game-details col-md-offset-1 col-md-8">
					<table class="table table-hover">
                    	<tbody>
                      		<tr>
                        		<td><strong>Name:</strong></td>
                        		<td>{{ game.name }}</td>
                      		</tr>
                      		<tr>
                        		<td><strong>Release date:</strong></td>
                        		<td>{{ game.original_release_date|split(' ')[0] }}</td>
                      		</tr>
                      		<tr>
                        		<td><strong>Platforms:</strong> </td>
                        		<td>
                        			{% for platform in game.platforms %}
                        			{% if loop.last %}
                        				{{ platform.name }}
									{% else %}
										{{ platform.name }}, 
									{% endif %}
								{% endfor %}
								</td>
							</tr>
							<tr>
								<td><strong>Developer:</strong></td>
								<td>
									{% for developer in game.developers %}
									{% if loop.last %}
									{{ developer.name }}
									{% else %}
									{{ developer.name }}, 
									{% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td><strong>Genre:</strong></td>
								<td>
									{% for genre in game.genres %}
									{% if loop.last %}
									{{ genre.name }}
									{% else %}
									{{ genre.name }}, 
									{% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</div>

</section>

<div class="container">
	<section id="game-information">
		<div>
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a data-toggle="tab" href="#psn">PlayStation</a></li>
				<li><a data-toggle="tab" href="#steam">Steam</a></li>
				<li><a data-toggle="tab" href="#xbox">Xbox</a></li>
			</ul>

			<div class="tab-content">
				<div id="psn" class="tab-pane fade in active">
					<div class="panel-group">
						{% if psn is defined %}
							{% if psnTrophies.trophies is defined %}
							{% for trophy in psnTrophies.trophies %}
								{% if trophy.comparedUser is defined %}
									{% if trophy.comparedUser.earned %}	
										<div class="panel panel-success">
									{% else %}
										<div class="panel panel-danger">
									{% endif %}
											{% if trophy.trophyName is defined %}
												<div class="panel-heading text-center">{{ trophy.trophyName }}</div>
												<div class="panel-body"> 
													<div class="row vertical-align">
														<img src="{{ asset('/images/icons/trophy.png') }}" alt="game box image" class="col-sm-1">
														<div class="col-sm-11" >
															<p class="text-center">{{ trophy.trophyDetail }}</p>
														</div>
													</div>
												</div>
											{% else %}
												<div class="panel-heading text-center">Trophy Hidden</div>
												<div class="panel-body"> 
													<div class="row vertical-align">
														<img src="{{ asset('/images/icons/trophy.png') }}" alt="game box image" class="col-sm-1">
														<div class="col-sm-11" >
															<p class="text-center">?????????</p>
														</div>
													</div>
												</div>
											{% endif %}
										</div>
								{% else %}
									<div class="panel panel-danger">
										{% if trophy.trophyName is defined %}
											<div class="panel-heading text-center">{{ trophy.trophyName }}</div>
											<div class="panel-body"> 
												<div class="row vertical-align">
													<img src="{{ asset('/images/icons/trophy.png') }}" alt="game box image" class="col-sm-1">
													<div class="col-sm-11" >
														<p class="text-center">{{ trophy.trophyDetail }}</p>
													</div>
												</div>
											</div>
										{% else %}
											<div class="panel-heading text-center">Trophy Hidden</div>
											<div class="panel-body"> 
												<div class="row vertical-align">
													<img src="{{ asset('/images/icons/trophy.png') }}" alt="game box image" class="col-sm-1">
													<div class="col-sm-11" >
														<p class="text-center">?????????</p>
													</div>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
							{% else %}
							<div class="panel panel-danger">
								<div class="panel-body">
									<div class="row">
										<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
									</div>
									<div class="row">
										<h3 class="col-sm-12 not-found-err">This game is not available for PSN!</h3>
									</div>
								</div>
							</div>
							{% endif %}
						{% else %}
							<div class="panel panel-danger">
								<div class="panel-body">
									<div class="row">
										<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
									</div>
									<div class="row">
										<h3 class="col-sm-12 not-found-err">You don't have your PSN account Sync!</h3>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
				<div id="steam" class="tab-pane fade">
					<div class="panel-group">
						{% if steam is defined %}
							{% if (steamTrophies.playerstats is defined) or (steamTrophies.game is defined) %}
								{% if (steamTrophies.hasNotTrophies is defined) or ((steamTrophies.game is defined) and (steamTrophies.game is empty)) %}
									<div class="panel panel-danger">
										<div class="panel-body">
											<div class="row">
												<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
											</div>
											<div class="row">
												<h3 class="col-sm-12 not-found-err">This game has no achievements!</h3>
											</div>
										</div>
									</div>
								{% else %}
									{% if steamTrophies.game is defined %}
										{% for trophy in steamTrophies.game.availableGameStats.achievements %}
										<div class="panel panel-danger">
											<div class="panel-heading text-center">{{ trophy.displayName }}</div>
											<div class="panel-body"> 
												<div class="row vertical-align">
													<img src="{{ asset('/images/icons/trophy.png') }}" alt="game box image" class="col-sm-1">
													<div class="col-sm-11" >
														{% if trophy.description is defined %}
														<p class="text-center">{{ trophy.description }}</p>
														{% else %}
														<p class="text-center">????????? (Trophy Hidden)</p>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
										{% endfor %}
									{% else %}
										{% if steamTrophies.playerstats.achievements is defined %}
											{% for trophy in steamTrophies.playerstats.achievements %}
											{% if trophy.achieved %}	
											<div class="panel panel-success">
											{% else %}
											<div class="panel panel-danger">
											{% endif %}
												<div class="panel-heading text-center">{{ trophy.name }}</div>
												<div class="panel-body"> 
													<div class="row vertical-align">
														<img src="{{ asset('/images/icons/trophy.png') }}" alt="game box image" class="col-sm-1">
														<div class="col-sm-11" >
															{% if trophy.description == "" %}
															<p class="text-center">????????? (Trophy Hidden)</p>
															{% else %}
															<p class="text-center">{{ trophy.description }}</p>
															{% endif %}
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
										{% else %}
											<div class="panel panel-danger">
												<div class="panel-body">
													<div class="row">
														<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
													</div>
													<div class="row">
														<h3 class="col-sm-12 not-found-err">This game has no achievements!</h3>
													</div>
												</div>
											</div>
										{% endif %}
									{% endif %}
								{% endif %}
							{% else %}
							<div class="panel panel-danger">
								<div class="panel-body">
									<div class="row">
										<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
									</div>
									<div class="row">
										<h3 class="col-sm-12 not-found-err">This game is not available for Steam!</h3>
									</div>
								</div>
							</div>
							{% endif %}
						{% else %}
						<div class="panel panel-danger">
							<div class="panel-body">
								<div class="row">
									<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
								</div>
								<div class="row">
									<h3 class="col-sm-12 not-found-err">You don't have your Steam account Sync!</h3>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div id="xbox" class="tab-pane fade">
					<div class="panel-group">
						<div class="panel panel-danger">
							<div class="panel-body">
								<div class="row">
									<img src="https://i.gyazo.com/67ac2b3d9cbda41164ee8f29210231a6.png" alt="games not found" class="col-sm-8 col-sm-offset-2" >
								</div>
								<div class="row">
									<h3 class="col-sm-12 not-found-err">We could not find any games on your Xbox Account!</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>

	adjustGameImage(0);

	$( window ).resize(function() {
		adjustGameImage(500);
	});

	function adjustGameImage(time){
		var w = $(window).width();

		if (w<=1500) {
			$('.game-img').switchClass( "col-md-3", "col-md-2", time, "easeInOutQuad" );
		}
		else{
			$('.game-img').switchClass( "col-md-2", "col-md-3", time, "easeInOutQuad" );
		}
	}

	
</script>

{% endblock fos_user_content %}
